
<!DOCTYPE html>
<html lang="en">

<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main/navigation.css">
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="/css/admin/add-edit-product.css">
  </head>
</head>

<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__nav-list">
        <li class="main-header__nav-list-item">
          <a href="/">Products</a>
        </li>
        <li class="main-header__nav-list-item">
          <a href="/cart">Cart</a>
        </li>
        <li class="main-header__nav-list-item">
          <a href="/orders">Orders</a>
        </li>
        <li class="main-header__nav-list-item">
          <a href="/admin/add-product">Add product</a>
        </li>
        <li class="main-header__nav-list-item">
          <a href="/admin/manage-products">Manage products</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <form
      class="product-form"
      action="/admin/<%= pathParam %>"
      method="POST"
    >
        <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" id="title" value="<%= product.title %>">
        </div>
        <div class="form-control">
            <label for="imageUrl">Image URL</label>
            <input type="text" name="imageUrl" id="imageUrl" value="<%= product.imageUrl %>">
        </div>
        <div class="form-control">
            <label for="price">Price</label>
            <input type="number" name="price" id="price" step="0.01" value="<%= product.price %>">
        </div>
        <div class="form-control">
            <label for="description">Description</label>
            <textarea name="description" id="description" rows="5"><%= product.description %></textarea>
        </div>
        <% if (isEdit) { %>
          <input type="hidden" value="<%= product.id %>" name="productId">
        <% } %>
        <button class="btn" type="submit"><%= btnLabel %></button>
    </form>
  </main>
</body>

</html>
