<!DOCTYPE html>
<html lang="en">

<head>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main/navigation.css">
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="/css/store/orders.css">
  </head>
</head>

<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__nav-list">
        <li class="main-header__nav-list-item">
          <a href="/">Products</a>
        </li>
        <li class="main-header__nav-list-item">
          <a href="/cart">Cart</a>
        </li>
        <li class="main-header__nav-list-item">
          <a href="/orders">Orders</a>
        </li>
        <li class="main-header__nav-list-item">
          <a href="/admin/add-product">Add product</a>
        </li>
        <li class="main-header__nav-list-item">
          <a href="/admin/manage-products">Manage products</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <% if (orders.length > 0) { %>
      <% orders.forEach(order => { %>
        <article class="orders">
          <h1 class="orders__id">Order #<%= order.id %></h1>
          <div class="orders__content">
            <% order.products.forEach(product => { %>
              <li><%= product.title %> - Qty: <%= product.orderItem.quantity %></li>
            <% }); %>
            </div>
        </article>
      <% }) %>
    <% } else { %>
      <h1>No Order!</h1>
    <% } %>
  </main>
</body>

</html>
