<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main/navigation.css">
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__nav-list">
          <li class="main-header__nav-list-item">
            <a href="/">Products</a>
          </li>
          <li class="main-header__nav-list-item">
            <a href="/cart">Cart</a>
          </li>
          <li class="main-header__nav-list-item">
            <a href="/orders">Orders</a>
          </li>
          <li class="main-header__nav-list-item">
            <a href="/admin/add-product">Add product</a>
          </li>
          <li class="main-header__nav-list-item">
            <a href="/admin/manage-products">Manage products</a>
          </li>
        </ul>
      </nav>
    </header>
  </body>
</html>
